html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: black;
}

::placeholder {
  color: gray;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.woff2") format("woff2"),
    url("./fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('./fonts/Exo-ExtraBold.woff2') format('woff2'),
      url('./fonts/Exo-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./fonts/Merriweather-Regular.woff2') format('woff2'),
      url('./fonts/Merriweather-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Odibee Sans';
  src: url('./fonts/OdibeeSans-Regular.woff2') format('woff2'),
      url('./fonts/OdibeeSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
